/*
 * Generalnie, niektóre nazwy zmiennych spełniają pewien pattern:
 * -> jeśli zaczyna się dużą literą to jest to główny element
 * -> jeśli zaczyna się od małej litery to jest to element wewnętrzny
 * -> jeśli zaczyna się od myślnika to oznacza typ elementu
 *
 * Większość selektorów używa bezpośredniej selekcji za pomocą znaku >
 * żeby uniknąć niepożądanych stylów w innych elementach
 *
 * Przykłady: 
 * -> .Drzewo > .liść           # liść to element drzewa
 * -> .Drzewo.-zielone          # drzewo, które jest zielone
 * -> .Drzewo > .liść.-duży     # duży liść w drzewie
 */


@font-face {
    font-family: 'E1234';
    src: url('./font/E1234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Odibee';
    src: url('./font/Odibee_Sans/OdibeeSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kode Mono';
    src: url('./font/Kode_Mono/KodeMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

    --color-bright: #eccbff;
    --color-bright-dim: #af6bd6;
    --color-between: #8A21C6;
    --color-between-2: #0313a6;
    --color-dark: #070F34;
    --color-black: #000000;

    --color-glass: rgba(121, 0, 121, 0.1);
    --shadow-glass: 5px 5px 10px #3f0335, -5px -5px 10px #180255;
    --shadow-glass-wide: 5px 5px 10px #3f0335, -5px -5px 10px #180255;

    --font-heading: 'Odibee', sans-serif;
    --font-note: 'Odibee', sans-serif;
    --font-text: "Kode Mono", monospace;
    --font-readable: "Barlow", sans-serif;
    --font-digit: 'E1234', monospace;

    --shadow-box: 1em 1em 1em black;
    --shadow-in: inset 0 0 3em black;

    --brightness-grad: linear-gradient(-45deg, #ffffff00, #00000055);

    color: var(--color-bright);
    background-color: var(--color-dark);

    font-size: min(max(12px, 1vw), 16px);

}

* { box-sizing: border-box; }

:root a { color: inherit;}
:root a.disabled { color: inherit; pointer-events: none;}

body {
    margin: 0; padding: 0; border: 0;
    font-family: var(--font-text);
}






.Icon {
    display: inline-block;
    width: 8em; height: 8em;
    background-color: var(--color-bright);

    mask-size: cover; mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
}

.Icon.-large {
    width: 12em; height: 12em;
}

.Icon.-small {
    width: 4em; height: 4em;
}

.Icon.-tiny {
    width: 2em; height: 2em;
}

.Icon.-coloseum {

    mask-image: url('./ico/colosseum-rome-svgrepo-com.svg');
    -webkit-mask-image: url('./ico/colosseum-rome-svgrepo-com.svg');
}

.Icon.-architecture {

    mask-image: url('./ico/greek-column-svgrepo-com.svg');
    -webkit-mask-image: url('./ico/greek-column-svgrepo-com.svg');
}

.Icon.-hermes {

    mask-image: url('./ico/hermes-shoe-svgrepo-com.svg');
    -webkit-mask-image: url('./ico/hermes-shoe-svgrepo-com.svg');
}

.Icon.-facebook {

    mask-image: url('./ico/iconmonstr-facebook-6.svg');
    -webkit-mask-image: url('./ico/iconmonstr-facebook-6.svg');
}

.Icon.-linkedin {

    mask-image: url('./ico/iconmonstr-linkedin-2.svg');
    -webkit-mask-image: url('./ico/iconmonstr-linkedin-2.svg');
}

.Icon.-logo {

    display: block;
    background-color: var(--color-bright);
    mask-image: url('./ico/logo.svg');
    -webkit-mask-image: url('./ico/logo.svg');

    mask-size: cover; mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
}




.Note {
    position: absolute;
    width: 12em; padding: 1em;
    
    font: 1.5em var(--font-note);
    letter-spacing: .1em;

    background-color: var(--color-dark);
    box-shadow: var(--shadow-box);
}




.Nav {
    margin: 1em 0;
    text-align: center;
}

.Nav:first-child { margin: 5em 0; }

.Nav > .link {
    display: inline-block;
    margin: 0 1em;
    padding: .5em 1em;
    text-decoration: none;
    transition: background-color 0.8s ease, transform 0.8s ease;
}

.Nav > .link:hover, .Nav > .link.-active {
    transform: scale(1.1);
    background-color: var(--color-between);
}

.Row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
}






.Back {
    padding-top: 5em;

    box-shadow: var(--shadow-in);
    background: url('./background.trim.webp') no-repeat 0 0 / cover;
    background-attachment: fixed;
    
    position: relative;
}

.Back>.cover {

    background-color: var(--color-dark);

    box-shadow: var(--shadow-box);

    position: absolute;
    height: 45em;
    left: 0; top: 0;
    right: 0; bottom: 0; z-index: 1;
}

.Back>.Organisation {
    margin-top: max(30vh, 10em);
}


.leftcolumn, .rightcolumn {
    width: 100%;
    float: none;
    margin-bottom: max(50vh, 5em);
}

.rightcolumn {
    margin-bottom: max(50vh, 5em);
}


.Header {

    display: flex;
    flex-flow: column;
    gap: 2em;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    padding-bottom: 5em;
}

.Header > .symbol {
    display: block; position: relative;
    width: 32em; height: 32em;
}

.Header > .symbol > .Icon {

    display: block; position: relative;
    width: inherit; height: inherit;

    position: relative; z-index: 2;
}

.Header > .symbol > .shadow {
    position: absolute; z-index: 1;
    top: .5em; left: .5em;
    background-color: var(--color-between);
}

.Header>.name,
.Header>.name {

    font: 5em Odibee, sans-serif;
    line-height: 1.5em;

    margin: 0;
}

.Header>.date {

    display: flex;

    font-weight: bold;
    font-family: var(--font-digit);
    font-size: 1.5em;
    text-align: right;

    text-shadow: .2em .2em 0 var(--color-between-2);
    animation: blink 5s infinite;
}

.Header>.date:hover {
    animation: none;
    text-shadow: -.2em -.2em 0 var(--color-between-2)
}

@keyframes blink {
    0%, 79%, 87%, 100% { text-shadow: .2em .2em 0 var(--color-between-2) }
    80%, 86% { text-shadow: -.2em -.2em 0 var(--color-between-2) }
}

.Header>.date>a {
    text-decoration: none;
}

.Header.-small {
    padding: 1em;
    flex-flow: row;
}

.Header.-small > .symbol {
    width: 4em; height: 4em;
}

.Header.-small > .name {
    font-size: 2.2em;
}





.Arrows {
    display: inline-flex;
    margin: 0 .5em;
}

.Arrows>.column {
    transform: rotate(90deg) translateX(-.25em);
    width: 1em;
    height: 1em;
}





.Contentbox {

    width: 80em; max-width: 100%;
    padding: 4em 2em; margin: auto;

    display: flex;
        flex-direction: column;
        align-items: center;

    background-color: var(--color-between);
    background-image: var(--brightness-grad);
    box-shadow: var(--shadow-box);

    position: relative;
    z-index: 10;
}

.Contentbox.right {

    padding: .5em 1.4em;
    padding-bottom: 12em;
    margin-left: auto;
    margin-right: 0;
}

.Contentbox>.heading {
    font-size: 2em;
    text-align: center;
}

.Contentbox>.headline {

    color: var(--color-bright);
    letter-spacing: .2em;
    font-family: Odibee;
    font-size: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}


.Contentbox>.address {

    margin-top: 12em;
    text-align: center;
}






.Pseudocode { 
    width: 100%;
}

.Pseudocode .input {
    color: var(--color-between);
}

#writer {
    min-height: 10em;
}




.Timer {

    font-size: min( max(2.4em, 4vw), 6em );
    font-family: var(--font-digit);
    text-shadow: .1em .1em 0 var(--color-dark);
}

tr.Timer + tr > .Mark:first-child { 
    text-align: right;
}

.Mark {

    color: var(--color-dark);
    font: 3em Odibee, sans-serif;
    text-shadow: none;
}





.Location {
    margin: 0;
    text-align: left;
    font: 2.4em var(--font-heading);
    color: var(--color-dark);
}





.Widgets {

    color: var(--color-dark);

    margin-top: 2.4em;
    display: flex; flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.Widgets>.column {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.Widgets>.column.left {
    align-items: flex-end;
}

.Widgets>.column.right {
    align-items: flex-start;
}




.Map {

    border: solid; outline: none;

    width: 32em;
    height: 32em;
    margin: 1em 0;
}





.Gmap {

    border: 0; outline: 0;
    background-color: var(--color-dark);
    width: 31em;
    height: 31em;
    margin: .5em 0;
    filter: invert(95%) hue-rotate(90deg);
}



.timeline-section {
    
    padding-top: 30em;
    /*background-image: linear-gradient(to bottom,rgba(183, 3, 147, 0)2%,rgba(183, 3, 147, 0.15) ,rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.35)20%, rgba(148,4,138,0.45),rgba(138, 0, 124, 0.35),rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.0));
   backdrop-filter: blur(6px) brightness(1);*/
    -webkit-backdrop-filter: blur(3px) brightness(0);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    min-height: 150vh;

    position: relative;
    z-index: 4;
}

.Tiheading {
    font-size: 5em;
    text-align: center;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: auto;
    height: auto;
    max-width: 2200px;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.timeline-content {
    padding: 10px;
    font-size: 1.5em;
    color: var(--color-brigth);
    background: var(--color-glass);
    -webkit-box-shadow: var(--shadow-glass);
    box-shadow: var(--shadow-glass);
    border-radius: 5px;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 0 1em;
    border-radius: 6px;
    z-index: 4;
    backdrop-filter: blur(3px);
}

.timeline-component > .glitch { font-size: 1em;}




.Partners {
    text-align: center;
    align-items: center;
    margin-bottom: 15em;
}

.Partners.-main {
    margin-bottom: 24em;
}

.Partners > .glitch {
    background-color: var(--color-dark);
    box-shadow: var(--shadow-glass);
}

.Partners > .glitch.-smaller {
    font-size: 2.4em;
    padding: .25em 0;
}

.Partners > .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0;
    gap: max(10%, 3em);
}

.Partner {
    border: 3px solid var(color-bright);
    border-radius: 10%;
    padding: 20px;
    text-align: center;

    color: var(--color-brigth);
    background-color: var(--color-glass);
    -webkit-box-shadow: var(--shadow-glass);
    box-shadow: var(--shadow-glass);
    backdrop-filter: blur(3px);
    transition: scale 0.8s ease;
}

.Partner:hover {
    scale: 1.2;
}

.Partner.-lbl {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./img/Lublin.logo.png');

    display: block;
    width: 24em; height: 14em;
    max-width: 100%;
    border-radius: 0;
}



.Whitebar {
    background-color: white;
    box-shadow: var(--shadow-glass);
    display: flex; flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}



.Footer {

    padding-top: 5em;
    gap: 5em;

    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.Footer a {
    color: var(--color-bright);
    text-decoration: none;
}

.Footer>.section {
    padding: 1em;
}





.Sign {

    width: 100%; padding: 1em 1em; margin: 0;
    position: relative;
}

.Sign {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 1em;
}
.Sign > .Logo {
    width: 10em;
}






.Participants {
    min-height: 48em;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: var(--shadow-in);
    background-image: url('./background.png');
    background-size: cover;
}

.Participant {
    padding: 2.8em;
    margin: 0 min(8em, 3vw);
    box-shadow: 1em 1em 2em black;
    background-color: var(--color-dark);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    transition: transform 0.8s ease;
}

.Participant.bright {
    color: var(--color-between);
    background-color: var(--color-bright);
}

.Participant > .heading {
    font-size: 1.5em;
    font-weight: bolder;
    padding: 0 .3em;
    text-decoration: underline;
    text-align: center;
}

.Participant > .Icon {
    background-color: var(--color-bright);
}

.Participant.bright > .Icon {
    background-color: var(--color-between);
}

.Participant > .Note {
    margin-right: 6em;
    margin-bottom: 8em;
    transform: rotate(-6deg);
    transition: transform 0.8s ease;
}

.Participant:hover {
    transform: scale(1.1);
}

.Participant:hover > .Note {
    transform: rotate(0);
}


.Gform {
    width: 100%;
    height: 64em;
}

.glitch {
    --color-inner-bright: rgba(234, 0, 255, 0.75);
    --color-inner-between-2: rgba(12, 0, 121, 0.75);
    --color-inner-between: rgba(0, 0, 255, .75);

    color: var(--color-brigth);
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--font-text);
    text-transform: uppercase;

    text-shadow:
        0.05em 0 0 var(--color-inner-bright),
        -0.025em -0.05em 0 var(--color-inner-between-2),
        0.025em 0.05em 0 var(--color-inner-between);
    animation: glitch 1900ms infinite;
}

@keyframes glitch {
    0%, 14% {
        text-shadow:
            0.05em 0 0 var(--color-inner-bright),
            -0.025em -0.05em 0 var(--color-inner-between-2),
            0.025em 0.05em 0 var(--color-inner-between);
    }

    15%, 49% {
        text-shadow:
            -0.05em 0 0 var(--color-inner-bright),
            0.025em 0.05em 0 var(--color-inner-between-2),
            -0.025em -0.05em 0 var(--color-inner-between);
    }

    50%, 99% {
        text-shadow:
            0.05em 0 0 var(--color-inner-bright),
            -0.025em -0.05em 0 var(--color-inner-between-2),
            0.025em 0.05em 0 var(--color-inner-between);
    }

    100% {
        text-shadow:
            -0.05em -0.05em 0 var(--color-inner-bright),
            0.025em 0.05em 0 var(--color-inner-between-2),
            -0.025em -0.05em 0 var(--color-inner-between);
    }
}

.glitch.Low {
    font-size: 0.5em;
}





ul {
    list-style-type: none;
    padding: 0;
}





.partnerbckg {
    background-color: rgba(10, 3, 75, 0.441);
    padding: 5% 1%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1%;
    box-shadow: 17px 17px 17px 0px #100011b4;
    transition: background-color 0.7s ease, transform 0.8s ease;
    backdrop-filter: blur(7px);
}

.partnerbckg:hover {

    background-color: rgba(80, 19, 116, 0.60);
    scale: 1.061;
    filter: brightness(1.5);
    box-shadow: 28px 28px 28px 0px #000000ce;
    border: 1px solid rgba(138, 33, 198, 0.4);
    border-radius: 3%;
    backdrop-filter: blur(20px);
    transition: background-color 0.6s ease, transform 0.6s ease;
    filter: hue-rotate(-0.02turn);
}




.single-box {
    border: 1px solid #dc25f1;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 250px;
    max-height: 280px;
    backdrop-filter: blur(5px);

}

.row {
    margin-top: 10%;
}

.info-area {
    padding: 0 5px 5px;
    color: white;
}

.img-area {
    overflow: hidden;
    padding: 15px 0 15px;

}

.img-area img {
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: 160px;

}

.single-box:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.info-area i {
    display: inline-block;
    color: #ea00ff;
    margin: 0 4px;
}

.info-area h4 {
    font-weight: 600
}

.info-area h5 {
    color: #3b04db;
    margin: 10px 0 0;
    font-weight: 600
}

.info-area a {
    display: inline-block;
    margin: 25px 0 0;
    background-color: darkorange;
    color: #dad2d2;
    padding: 10px 15px;
    border-radius: 4px;
}

.team-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;


}

.team-slider button.owl-dot {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(107, 16, 89, 0.4);
    backdrop-filter: blur(30px);

}

.team-slider .owl-dot.active {
    background-color: rgba(255, 80, 220, 0.4);
    backdrop-filter: blur(30px);
}

.move-animation {
    position: relative;
    -webkit-animation: move-animation 0.2s ease-in-out infinite;
    animation: move-animation 0.2s ease-in-out infinite;
}

@-webkit-keyframes move-animation {
    0% {
        top: 3px;
    }

    50% {
        top: -3px;
    }

    100% {
        top: 3px;
    }
}

.Reg {
    margin: 10em 0;
}

.Ruleset {
    gap: 4.4em;
    padding-bottom: 16em;
}

.Ruleset > .files {
    text-align: right;
    width: 80%;
}

.Ruleset > .heading {
    font-size: 2.4em;
    width: 80%; max-width: 32em;
    text-align: left;
}

.Ruleset > .chapter{
    width: 80%; min-width: 32em;
}




.Sponsorship {
    padding: 8em 1em;
    display: flex; gap: 3em; 
        flex-flow: column;
        align-items: center;

    font-family: var(--font-readable);
    position: relative;
}

.Sponsorship > .background {


    width: 32em; height: 40em;

    position: absolute; z-index: -1;
    right: calc(50% + 24em); bottom: 0;

    background-color: var(--color-between);

    mask-image: url('./img/2-greek-builders.webp');
    -webkit-mask-image: url('./img/2-greek-builders.webp');

    mask-size: cover; mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.Sponsorship > .background::after {

    content: ''; display: block; width: inherit; height: inherit;
    opacity: .5;
    background-image: url('./img/2-greek-builders.webp');
    background-size: contain; background-repeat: no-repeat;
}


.Sponsorship > .description {
    width: 48em; max-width: 100%;
}

.Sponsorship > .description > .list {
    list-style: circle;
    padding: 0 2em;
}

.Sponsorship > .header {

    display: flex; gap: 1em;
        justify-content: center;
        align-items: flex-end;
}

.Sponsorship > .header .heading {
    font: 200% var(--font-heading);
    letter-spacing: .24em;
}

.Sponsorship > .header .email {
    text-align: center;
}

.Sponsorship > .contact {
    width: 100%; max-width: 48em;
    display: flex;
        justify-content: space-around;
        align-items: center;
}

.Sponsorship > .contact > h3::after{content:':'}

.Sponsorship > .contact > .Icon {
    width: 4em; height: 4em;
}

.Social {
    display: flex; gap: 1em;
    align-items: center;
}


.Team {
    margin-top: min(50vh, 20em);
    padding: 5em 1em;
    display: flex; flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Team > .Contentbox {
    max-width: 32em; 
    margin: 0;
    margin-top: 10vw;
}



.Photo {
    position: relative;
    padding: 2em 1.5em;
}

.Photo > .raster {
    width: 48em; max-width: 100%;
    
    opacity: 0.90;
    box-shadow: var(--shadow-glass);
    border-radius: 1em;
    filter:
        brightness(1)
        contrast(.8)
        grayscale(0)
        hue-rotate(-20deg)
        saturate(1.5)
        sepia(0);
}

.Photo > .heading {
    position: absolute;
    top: -.5em; left: 0;
    z-index: 10;
    margin: 0;
}



.Logo {
    max-width: 32em;
}





@media screen and (min-width: 550px) {
    
    .Back, .Participants {
        background-image: url('./background.webp');
    }
}


@media screen and (min-width: 768px) {

    .leftcolumn {
        float: left;
        width: 50%;
    }

    .rightcolumn {
        float: right;
        width: 50%;
    }

    .leftcolumn + .rightcolumn + *, 
    .rightcolumn + .leftcolumn + * {
        clear:both;
    }
    
    .timeline {

        /* --color-bright: #25dbf3;
        --color-between: #f520e3;
        --color-dark: #af12a2; */

        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, var(--color-between), var(--color-bright), var(--color-between));
        width: 5px;
        height: 100%;
    }

    .timeline-middle:last-child {
        background: none;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {

        position: absolute;
        top: 0;
        left: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, var(--color-bright), var(--color-between), var(--color-between-2), var(--color-between), var(--color-bright));
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}