@font-face {
    font-family: 'E1234';
    src: url('./font/E1234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Odibee';
    src: url('./font/OdibeeSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { 
    margin: 0; padding: 0; border: 0;
    font: 1em sans-serif;

    font-size: min( max(12px, 1vw), 16px);
}

:root {
    
    color: #DA9AFF; background-color: #070F34;
    overflow-x: hidden;
}

    :root a { color: #DA9AFF; text-decoration: none; }

.Nav {
    margin-bottom: 15vh;
    background-color: #070F34;
}

    .Nav a { 
        display: inline-block;
            padding: .5em 1em;
        text-decoration: none; 
    }

.Front {

    background-image: url('./background.png');;
    min-height: 100vh;
     background-size: cover;
}

.Back {
    padding-top: 5em;
    padding-bottom: 20em;
    background: no-repeat 0 0 url('./background.png');
    background-attachment: fixed;
    position: relative;
    background-size: cover;
}

    .Back > .cover {
        background-color: #070F34;
        box-shadow: -1em 1em 1em black;
        
        position: absolute;
            height: 45em;
            left: 0; top: 0; right: 0; bottom: 0;
            z-index: 1;
    }


.leftcolumn {
    float: left;
    width: 25%;
}
.Logo {
    display: block; 
    width: 32em; height: 32em;
        margin: 10vh auto;
}

.Header {
    
    display: flex; 
        justify-content: center; 
        align-items: center;
    
    background-color: #070F34;
    box-shadow: 0 .2em .2em;
    max-width: 100%;
}

    .Header > .container > .name {
     
        font: 5em Odibee, sans-serif;
            line-height: 1.5em;
        
        margin: 0;
    }

    .Header > .container {
        padding: 0 1em; position: relative;
    }

        .Header > .container > .date {

            font-family: E1234, monospace; 
                font-size: 1.5em;
                text-align: right;

            text-shadow: .2em .2em 0 #0313a6;
            
            position: absolute; 
                bottom: 0; left: 100%;
            
            display: flex;

        }

.Arrows {
    display: inline-flex;
    margin: 0 .5em;
}

    .Arrows > .column {
        transform: rotate(90deg) translateX(-.25em);
        width: 1em; height: 1em;
    }



.Terminal {

    max-width: 80em;
    padding: .5em 1.4em;
        padding-bottom: 10em;
    margin-left: auto;

    font-family: monospace;
    color: white; 
        background-color: #8210C6;
        box-shadow: 1em 1em 1em black;
        background-image: linear-gradient(-45deg, #ffffff00, #00000055);

    position: relative;
    z-index: 4;
}

    .Terminal > .Timer {
        margin-top: 1em;
        margin-bottom: 2em;
    }


.Pseudocode {}

    .Pseudocode > .input {
        color: #DA9AFF;
    }

.Timer {

    min-width: 5.5em;
    font-size: 6em;
    font-family: E1234, monospace;
    text-align: center;
    
    position: relative;
    
    display: inline-block;
    
    justify-content: space-between;
}
.Timer, .Timer .wrapper {
    position: relative;
}

.Timer .count {
    text-shadow: .1em .1em 0 #081034;
}

.Timer .label {
    
    color: #081034;
    font: .8em Odibee, sans-serif;
    position: absolute;
        bottom: -1em; left: 0;
}


.Location {
    font: 1.2em Odibee;
        text-align: right;
        color: #081034;
}


.Widgets {

    color: #081034;

    display: flex; 
        justify-content: center; 
        align-items: flex-end;
}

    .Widgets > .column {
        padding: 1em;
        display: flex;
            flex-direction: column;
    }

    .Widgets > .column.left { align-items: flex-end; }
    .Widgets > .column.right { align-items: flex-start; }




.Map {

    border: solid; outline: none;
        border-radius: 6em;
    
    width: 32em; height: 32em;
        margin: 1em 0;

    background-color: #081034;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 10px;;
}
.Gmap{
 
  
    
    width:31em ;
    height:31em;
    style:border:0;
    
    border: solid; outline: none;
        border-radius: 6em;
}



.timeline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: linear-gradient(to bottom,rgba(183, 3, 147, 0)2%,rgba(183, 3, 147, 0.15) ,rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.35)20%, rgba(148,4,138,0.45),rgba(138, 0, 124, 0.35),rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.0));
   backdrop-filter: blur(6px) brightness(1);*/
  -webkit-backdrop-filter: blur(3px) brightness(0);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
    min-height: 150vh;

    font-family: Jost;
    position: relative;
    z-index: 4  ;
    padding: 0px 20% 40% 40%;
  }
  .Tiheading {
    font-size: 5em;
    text-align: center;
}
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
   padding-right: 2em;
    width: auto;
    height: auto;
    max-width: 2200px;
    display: flex;
    flex-direction: column;
    z-index: 4  ;
  }
  
  .timeline-content {
    padding: 10px;
    font-size: 1.5em;
    background: rgba(12, 0, 121, 0.35);
    -webkit-box-shadow: 5px 5px 10px #5a054c, -5px -5px 10px #180255;
            box-shadow: 5px 5px 10px #3f0335, -5px -5px 10px #180255;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 10px 10px 0px 10px ;
    margin-bottom: 20px;
    border-radius: 6px;
    z-index: 4  ;
  }
  
  .timeline-component {
    margin: 0px 0px 20px 20px;
  }
  
  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #25dbf3, #e41ad3, #40d7f1);
      width: 5px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #20d0fc, #f520e3,#af12a2,#f520e3, #40d7f1);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }
.partners{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 30px;
}.partners div {
    border: 3px solid #d285ff;
    border-radius: 10%;
    min-width: 50px;
    min-height: 40px;
    padding: 20px;
    text-align: center;
    margin-right: 15%;
    margin-bottom: 10%;
    gap: 30px;
  }
.Footer {

    display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

    .Footer > .section {
        padding: 1em;   
    }

.Icon {
    font-size: 2em;
}

.Sign {
    
    text-align: right;

    color: white;
        background-color: black;
    
    width: 100%;
        padding: 1em 1em;
        margin: 0;
}



.Participants {
    display: flex;
        justify-content: center;
        align-items: center;
}

    .Participants > .container {
        padding: 10em 1em;
        margin: 0 min(8em, 3vw);
        display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
    }

        .Participants > .container > .heading {
            background-color: #070F34;
            padding: 0 .3em;
            text-decoration: underline;
        }

        .Participants > .container > .Icon {
            font-size: 10em;        
        }
.glitch{
        color: white;
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
            font-family: sans-serif;;
            text-transform: uppercase;
        
            text-shadow:
            0.05em 0 0 rgba(234, 0, 255, 0.75),
            -0.025em -0.05em 0 rgba(12, 0, 121, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            animation: glitch 1900ms infinite   ;
        }
        @keyframes glitch{
            0%{
                text-shadow:
            0.05em 0 0 rgba(133, 3, 104, 0.75),
            -0.025em -0.05em 0 rgba(33, 2, 119, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            14%{
                text-shadow:
            0.05em 0 0 rgba(133, 3, 104, 0.75),
            -0.025em -0.05em 0 rgba(33, 2, 119, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            15%{
                text-shadow:
            -0.05em 0 0 rgba(212, 0, 255, 0.75),
            0.025em 0.05em 0 rgba(53, 2, 136, 0.75),
            -0.025em -0.05em 0 rgba(0,0,255,.75);
            }
            49%{
                text-shadow:
            -0.05em 0 0 rgba(212, 0, 255, 0.75),
            0.025em 0.05em 0 rgba(53, 2, 136, 0.75),
            -0.025em -0.05em 0 rgba(0,0,255,.75);
            }
            50%{
                text-shadow:
            0.05em 0 0 rgba(158, 4, 138, 0.75),
            -0.025em -0.05em 0 rgba(72, 0, 139, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            99%{
                text-shadow:
            0.05em 0 0 rgba(158, 4, 138, 0.75),
            -0.025em -0.05em 0 rgba(72, 0, 139, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            100%{
                text-shadow:
            -0.05em -0.05em 0 rgba(247, 0, 255, 0.75),
            0.025em 0.05em 0 rgba(80, 0, 155, 0.75),
            -0.025em -0.05em 0 rgba(0,0,255,.75);
            }
         }
.glitch.Low{
    font-size: 0.5em;
        }