@font-face {
    font-family: 'E1234';
    src: url('./font/E1234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Odibee';
    src: url('./font/OdibeeSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { 
    margin: 0; padding: 0; border: 0;
    font: 1em sans-serif;

    font-size: min( max(12px, 1vw), 16px);
}

:root {
    
    color: #DA9AFF; background-color: #070F34;
    overflow-x: hidden;
}

    :root a { color: #DA9AFF; text-decoration: none; }
    :root a.disabled { color: #DA9AFF; pointer-events: none; }


.Nav {
    background-color: #070F34;
}

    .Nav a { 
        display: inline-block;
            padding: .5em 1em;
        text-decoration: none; 
    }

.Front {

    padding: 0 0 5em 0;
    background-image: url('./background.png');
    min-height: 100vh;
     background-size: cover;
}

    .Front > .Nav {
        margin-bottom: 15vh;
    }

    .Front > .Logo {
        margin: 5em auto;
    }

.Back {
    padding-top: 5em;
    padding-bottom: max(50vh, 20em);
    background: no-repeat 0 0 url('./background.png');
    background-attachment: fixed;
    position: relative;
    background-size: cover;
}

    .Back > .cover {
        background-color: #070F34;
        box-shadow: -1em 1em 1em black;
        
        position: absolute;
            height: 45em;
            left: 0; top: 0; right: 0; bottom: 0;
            z-index: 1;
    }

    .Back > .Organisation {
        margin-top: max(30vh, 10em);
    }

.leftcolumn {
    float: left;
    width: 25%;
}

@media screen and (max-width: 968px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        float: none;
        margin-bottom: -20%;
    }
    .rightcolumn {
        margin-bottom: 20%;
    }
    .timeline{
        margin-right: 200%;
    }
    .timeline-content {
    width: 250%;
    
    
    }
}

.rightcolumn {
    float: right; /* Domyślnie ustawione obok leftcolumn */
    width: 75%;
}

.Logo {
    display: block; 
    width: 32em; height: 32em;
    margin: 1em;
}

    .Logo.small {width: 8em; height: 8em;}

.Header {
    
    display: flex;
        justify-content: center; 
        align-items: center;
    
    background-color: #070F34;
    box-shadow: 0 .2em .2em;
    max-width: 100%;
}

    .Header > .name,
    .Header > .container > .name {
     
        font: 5em Odibee, sans-serif;
            line-height: 1.5em;
        
        margin: 0;
    }

    .Header > .container {
        padding: 0 1em; position: relative;
    }

        .Header > .container > .date {

            font-family: E1234, monospace; 
                font-size: 1.5em;
                text-align: right;

            text-shadow: .2em .2em 0 #0313a6;
            
            position: absolute; 
                bottom: 0; left: 100%;
            
            display: flex;

        }

.Arrows {
    display: inline-flex;
    margin: 0 .5em;
}

    .Arrows > .column {
        transform: rotate(90deg) translateX(-.25em);
        width: 1em; height: 1em;
    }

.Contentbox {

    min-height: 48em;
    width: 100%;
    max-width: 80em;
    padding: 5em 2em;
    margin: auto;

    font-family: monospace;
    color: white; 
        background-color: #8A21C6;
        box-shadow: 1em 1em 1em black;
        background-image: linear-gradient(-45deg, #ffffff00, #00000055);

    position: relative;
    z-index: 10;
}

    .Contentbox.right {
        
        padding: .5em 1.4em;
            padding-bottom: 10em;
        margin-left: auto;
        margin-right: 0;
    }

    .Contentbox > .heading {
        font-size: 2em;
        text-align: center;
    }

    .Contentbox > .headline {

        color: #DA9AFF;
        letter-spacing: .2em;
        font-family: Odibee;
        font-size: 2em;
        display: flex;
            align-items: center;
            gap: 1em;
    }


    .Contentbox > .address {

        margin-top: 12em;
        text-align: center;
    }

        .Contentbox > .address .Greek {
            width: 4em;
            height: 4em;
        }


.Pseudocode {}

    .Pseudocode > .input {
        color: #DA9AFF;
    }

.Timer {

    width: 100%;
    margin-bottom: 1em;
    min-width: 5.5em;
    font-size: 6em;
    font-family: E1234, monospace;
    text-align: center;
    
    position: relative;
    
    display: inline-block;
    
    justify-content: space-between;
}

    .Timer, .Timer > .wrapper, .Timer > * > .wrapper {
        position: relative;
    }

    .Timer .count {
        text-shadow: .1em .1em 0 #081034;
    }

    .Timer .label {
        
        color: #081034;
        font: .8em Odibee, sans-serif;
        position: absolute;
            bottom: -1em; left: 0;
    }


.Location {
    text-align: center;
    font: 4em Odibee;
        color: #081034;
}


.Widgets {

    color: #081034;

    display: flex; 
        justify-content: center; 
        align-items: flex-end;
}

    .Widgets > .column {
        padding: 1em;
        display: flex;
            flex-direction: column;
    }

    .Widgets > .column.left { align-items: flex-end; }
    .Widgets > .column.right { align-items: flex-start; }




.Map {

    border: solid; outline: none;
        border-radius: 6em;
    
    width: 32em; height: 32em;
        margin: 1em 0;

    background-color: #081034;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 10px;;
}
.Gmap{
 
    width:31em ;
    height:31em;
    filter: invert(95%) hue-rotate(90deg);
    border: solid; outline: none;
        border-radius: 6em;
}



.timeline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: linear-gradient(to bottom,rgba(183, 3, 147, 0)2%,rgba(183, 3, 147, 0.15) ,rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.35)20%, rgba(148,4,138,0.45),rgba(138, 0, 124, 0.35),rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.0));
   backdrop-filter: blur(6px) brightness(1);*/
  -webkit-backdrop-filter: blur(3px) brightness(0);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
    min-height: 150vh;

    font-family: Jost;
    position: relative;
    z-index: 4  ;
    padding: 0px 20% 40% 40%;
  }
  .Tiheading {
    font-size: 5em;
    text-align: center;
}
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
   padding-right: 2em;
    width: auto;
    height: auto;
    max-width: 2200px;
    display: flex;
    flex-direction: column;
    z-index: 4  ;
  }
  
  .timeline-content {
    padding: 10px;
    font-size: 1.5em;
    background: rgba(12, 0, 121, 0.35);
    -webkit-box-shadow: 5px 5px 10px #5a054c, -5px -5px 10px #180255;
            box-shadow: 5px 5px 10px #3f0335, -5px -5px 10px #180255;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 10px 10px 0px 10px ;
    margin-bottom: 20px;
    border-radius: 6px;
    z-index: 4;
  }
  
  .timeline-component {
    margin: 0px 0px 20px 20px;
  }
  
  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #25dbf3, #e41ad3, #40d7f1);
      width: 5px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #20d0fc, #f520e3,#af12a2,#f520e3, #40d7f1);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    
  }


.Mainparteners {
    margin-top: 95%; /* Dostosuj margines dla sekcji partnerów */
   
    text-align: center;
    
    align-items: center;
    
}
.partners{
    display: flex;
    justify-content: center;
    margin: 5% 0;
    gap: 10%;
}.partners div {
    border: 3px solid #d285ff;
    border-radius: 10%;
    min-width: 50px;
    min-height: 40px;
    padding: 20px;
    text-align: center;
    margin-right: 15%;
    margin-bottom: 10%;
    gap: 10%;
  }
  .pLogoSize{
    max-width: 120%;
    max-height: 8em;
    margin: auto;
    transition: background-color 0.8s ease, transform 0.8s ease;
      }
.pLogoSize:hover{
scale: 1.2;
}
.Footer {

    display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

    .Footer > .section {
        padding: 1em;   
    }

.Icon {
    font-size: 2em;
}

.Sign {
    
    text-align: right;

    color: white;
        background-color: black;
    
    width: 100%;
        padding: 1em 1em;
        margin: 0;
}



.Participants {
    display: flex;
        justify-content: center;
        align-items: center;
}

    .Participants > .container {
        padding: 10em 1em;
        margin: 0 min(8em, 3vw);
        display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
    }

        .Participants > .container > .heading {
            font-size: 1.5em;
            font-weight: bolder;
            background-color: #070F34;
            padding: 0 .3em;
            text-decoration: underline;
            text-align: center;
            max-width: 10em;
        }

            .Participants > .container > .heading.disabled {
                text-decoration: none;
                pointer-events: none;
            }

        .Participants > .container > .Icon {
            font-size: 10em;        
        }   


.Gform {
    width: 100%;
    height: 64em;
}
    
.glitch{
        color: white;
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
            font-family: sans-serif;;
            text-transform: uppercase;
        
            text-shadow:
            0.05em 0 0 rgba(234, 0, 255, 0.75),
            -0.025em -0.05em 0 rgba(12, 0, 121, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            animation: glitch 1900ms infinite   ;
        }
        @keyframes glitch{
            0%{
                text-shadow:
            0.05em 0 0 rgba(133, 3, 104, 0.75),
            -0.025em -0.05em 0 rgba(33, 2, 119, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            14%{
                text-shadow:
            0.05em 0 0 rgba(133, 3, 104, 0.75),
            -0.025em -0.05em 0 rgba(33, 2, 119, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            15%{
                text-shadow:
            -0.05em 0 0 rgba(212, 0, 255, 0.75),
            0.025em 0.05em 0 rgba(53, 2, 136, 0.75),
            -0.025em -0.05em 0 rgba(0,0,255,.75);
            }
            49%{
                text-shadow:
            -0.05em 0 0 rgba(212, 0, 255, 0.75),
            0.025em 0.05em 0 rgba(53, 2, 136, 0.75),
            -0.025em -0.05em 0 rgba(0,0,255,.75);
            }
            50%{
                text-shadow:
            0.05em 0 0 rgba(158, 4, 138, 0.75),
            -0.025em -0.05em 0 rgba(72, 0, 139, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            99%{
                text-shadow:
            0.05em 0 0 rgba(158, 4, 138, 0.75),
            -0.025em -0.05em 0 rgba(72, 0, 139, 0.75),
            0.025em 0.05em 0 rgba(0,0,255,.75);
            }
            100%{
                text-shadow:
            -0.05em -0.05em 0 rgba(247, 0, 255, 0.75),
            0.025em 0.05em 0 rgba(80, 0, 155, 0.75),
            -0.025em -0.05em 0 rgba(0,0,255,.75);
            }
         }
.glitch.Low{
    font-size: 0.5em;
        }

.Greek {
    width: 8em;
    height: 8em;
}


ul {
    list-style-type: none;
    padding: 0;
}

.Patrons {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10em;
        margin: 10em 0;
}

.Patron {
    max-width: 44em;
}

    .Patron > .info {
        text-align: center;
        margin: 1em;
        white-space: nowrap;
    }

        .Patron > .info > * > .price {
            font: 3em E1234;
        }

        .Patron > .info > * >  .currency {
            font: 2em E1234;
        }

    .Patron > .perks { width: 100%; }

    .Patron > .perks.shorter {
        max-width: calc(100% - 52em);
    }

    .Patron > .perks.short {
        max-width: calc(100% - 32em);
    }

.partnerbckg{
    background-color: rgba(10, 3, 75, 0.441);
    padding: 5% 1%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1%;
    box-shadow:  17px 17px 17px 0px #100011b4;
    transition: background-color 0.7s ease, transform 0.8s ease;
    backdrop-filter: blur(7px);
}
.partnerbckg:hover{

    background-color: rgba(80, 19, 116, 0.60);
    scale: 1.061;
    filter: brightness(1.5);
    box-shadow: 28px 28px 28px 0px #000000ce;
    border: 1px solid rgba(138, 33, 198, 0.4);
    border-radius: 3%;
    backdrop-filter: blur(20px);
    transition: background-color 0.6s ease, transform 0.6s ease;
    filter: hue-rotate(-0.02turn);
}


.Perk {}
    
    .Perk > .name {

        font: 1.5em monospace;
        text-align: center;
        letter-spacing: .2em;
        background-color: #070F34;
        padding: .5em 1.5em;
        border-radius: .5em;
    }

.Social {
    margin: 1em;
    display: flex;
    justify-content: center;
    font-size: 2em;
}


#team {
	padding: 10px 0;
    backdrop-filter: blur(3px);
}

.single-box {
	border: 1px solid #dc25f1;
	border-radius: 15px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.7);
    max-width: 250px;
    max-height: 280px;
    backdrop-filter: blur(5px);

}
.row {
    margin-top: 10%;
}
.info-area {
	padding: 0 5px 5px;
    color: white;
}
.img-area {
	overflow: hidden;
	padding: 15px 0 15px;
    
}
.img-area img {
	margin: 0 auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-width: 160px;
 
}
.single-box:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.info-area i {
	display: inline-block;
	color: #ea00ff;
	margin: 0 4px;
}
.info-area h4 {
	font-weight: 600
}
.info-area h5 {
	color: #3b04db;
	margin: 10px 0 0;
	font-weight: 600
}
.info-area a {
	display: inline-block;
	margin: 25px 0 0;
	background-color: darkorange;
	color: #dad2d2;
	padding: 10px 15px;
	border-radius: 4px;
}
.team-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;

 
}
.team-slider button.owl-dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
    background-color: rgba(107, 16, 89,0.4);
    backdrop-filter: blur(30px);

}
.team-slider .owl-dot.active {
	background-color: rgba(255, 80, 220,0.4);
    backdrop-filter: blur(30px);
}
.move-animation {
	position: relative;
	-webkit-animation: move-animation 0.2s ease-in-out infinite;
	animation: move-animation 0.2s ease-in-out infinite;
}
@-webkit-keyframes move-animation {
	0% {
		top: 3px;
	}
	50% {
		top: -3px;
	}
	100% {
		top: 3px;
	}
}
